.card-body #transaction-list-body {
  overflow-x: auto;
}

.card-footer #transaction-list-page-number {
  margin-inline-end: auto;
}

#transaction-list-footer {
  display: inline-flex;
  align-items: baseline;
}